USE [master]
GO
/****** Object:  Database [JobPortalDB_New]    Script Date: 5/18/2025 4:53:12 PM ******/
CREATE DATABASE [JobPortalDB_New]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobPortalDB_New', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JobPortalDB_New.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobPortalDB_New_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\JobPortalDB_New_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobPortalDB_New].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobPortalDB_New]
GO
/****** Object:  Table [dbo].[Application]    Script Date: 5/18/2025 4:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[VacancyID] [int] NULL,
	[Date] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_JobSeekerVacancy] UNIQUE NONCLUSTERED 
(
	[JobSeekerID] ASC,
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CV]    Script Date: 5/18/2025 4:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CV](
	[CVID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[UploadDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employer]    Script Date: 5/18/2025 4:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employer](
	[EmployerID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[LName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[IndustryID] [int] NULL,
	[MName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Industry]    Script Date: 5/18/2025 4:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Industry](
	[IndustryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IndustryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSeeker]    Script Date: 5/18/2025 4:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeeker](
	[JobSeekerID] [int] IDENTITY(1,1) NOT NULL,
	[FName] [nvarchar](50) NOT NULL,
	[MName] [nvarchar](50) NULL,
	[LName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Bdate] [date] NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobSeekerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SavedVacancy]    Script Date: 5/18/2025 4:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SavedVacancy](
	[SavedVacancyID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[VacancyID] [int] NULL,
	[SaveDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SavedVacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SavedJobSeekerVacancy] UNIQUE NONCLUSTERED 
(
	[JobSeekerID] ASC,
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 5/18/2025 4:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[SkillID] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerID] [int] NULL,
	[SkillName] [nvarchar](100) NOT NULL,
	[ProficiencyLevel] [nvarchar](50) NOT NULL,
	[YearsOfExperience] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacancy]    Script Date: 5/18/2025 4:53:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacancy](
	[VacancyID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[EmployerID] [int] NULL,
	[IndustryID] [int] NULL,
	[PostingDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Application] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Application] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[CV] ADD  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[SavedVacancy] ADD  DEFAULT (getdate()) FOR [SaveDate]
GO
ALTER TABLE [dbo].[Vacancy] ADD  DEFAULT (getdate()) FOR [PostingDate]
GO
ALTER TABLE [dbo].[Vacancy] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([VacancyID])
REFERENCES [dbo].[Vacancy] ([VacancyID])
GO
ALTER TABLE [dbo].[Application]  WITH CHECK ADD FOREIGN KEY([VacancyID])
REFERENCES [dbo].[Vacancy] ([VacancyID])
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[CV]  WITH CHECK ADD FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Employer]  WITH CHECK ADD  CONSTRAINT [FK_Employer_Industry] FOREIGN KEY([IndustryID])
REFERENCES [dbo].[Industry] ([IndustryID])
GO
ALTER TABLE [dbo].[Employer] CHECK CONSTRAINT [FK_Employer_Industry]
GO
ALTER TABLE [dbo].[SavedVacancy]  WITH CHECK ADD FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[SavedVacancy]  WITH CHECK ADD FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[SavedVacancy]  WITH CHECK ADD FOREIGN KEY([VacancyID])
REFERENCES [dbo].[Vacancy] ([VacancyID])
GO
ALTER TABLE [dbo].[SavedVacancy]  WITH CHECK ADD FOREIGN KEY([VacancyID])
REFERENCES [dbo].[Vacancy] ([VacancyID])
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD FOREIGN KEY([JobSeekerID])
REFERENCES [dbo].[JobSeeker] ([JobSeekerID])
GO
ALTER TABLE [dbo].[Vacancy]  WITH CHECK ADD FOREIGN KEY([EmployerID])
REFERENCES [dbo].[Employer] ([EmployerID])
GO
ALTER TABLE [dbo].[Vacancy]  WITH CHECK ADD FOREIGN KEY([EmployerID])
REFERENCES [dbo].[Employer] ([EmployerID])
GO
ALTER TABLE [dbo].[Vacancy]  WITH CHECK ADD FOREIGN KEY([IndustryID])
REFERENCES [dbo].[Industry] ([IndustryID])
GO
ALTER TABLE [dbo].[Vacancy]  WITH CHECK ADD FOREIGN KEY([IndustryID])
REFERENCES [dbo].[Industry] ([IndustryID])
GO
USE [master]
GO
